.lead {
  display: flex;
  flex-flow: column;
  margin-bottom: 92px;
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 0;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    margin-bottom: 64px;
  }
}
