.footer__menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media screen and (max-width: 767px) {

  .footer__menu-list {
    margin-bottom: 16px;
    flex-direction: column;
  }
}
