.cover {
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 92px;
  background-image: url(https://valery-ish.github.io/russian-travel/images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover::before {
  content: "";
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover {
    min-height: 640px;
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 380px;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 424px) {
  .cover {
    min-height: 200px;
  }
}
